# DIABETICS PREDICTION

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv("diabetes.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.shape

(768, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
df['Outcome'].value_counts() # 0 -> non diabetic and 1-> diabetic

Outcome
0    500
1    268
Name: count, dtype: int64

In [9]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [10]:
x = df.drop('Outcome',axis=1)
y = df['Outcome']

In [11]:
x.shape

(768, 8)

In [12]:
y.shape

(768,)

In [13]:
scaler = StandardScaler()
transform_data = scaler.fit_transform(x)
transform_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [14]:
x = transform_data
y = df['Outcome']

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state = 2)

In [16]:
x.shape

(768, 8)

In [17]:
x_train.shape

(614, 8)

In [18]:
y.shape

(768,)

In [19]:
y_train.shape

(614,)

In [33]:
# function
Model_Score = {}
Model_score_Precentage = {}


def model_val(Model , x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
    Model.fit(x_train, y_train)
    y_pred = Model.predict(x_test)
    print(f'{Model} \nAccuracy score :' , accuracy_score(y_test, y_pred))
    print("=====================================")
    
    score = cross_val_score(Model, x, y, cv=10)
    print(f'{Model}\n Average Cross Validation Score :', np.mean(score))
    print("-------------------------------------------------")
    Model_Score[Model] = np.mean(score)
    Model_score_Precentage[Model] = round(np.mean(score)*100)

In [34]:
# Logistic Regression
model1 = LogisticRegression()
model_val(model1, x, y)

# K-Nearest Neighbors
model2 = KNeighborsClassifier()
model_val(model2, x, y)

# Support Vector Classifier
model3 = SVC()
model_val(model3, x, y)

# Decision Tree
model4 = DecisionTreeClassifier()
model_val(model4, x, y)

# Random Forest
model5 = RandomForestClassifier()
model_val(model5, x, y)

LogisticRegression()
Accuracy score : 0.7142857142857143
=====================================
LogisticRegression()
 Average Cross Validation Score : 0.7721804511278195
-------------------------------------------------
KNeighborsClassifier()
Accuracy score : 0.7402597402597403
=====================================
KNeighborsClassifier()
 Average Cross Validation Score : 0.7382433356117566
-------------------------------------------------
SVC()
Accuracy score : 0.8246753246753247
=====================================
SVC()
 Average Cross Validation Score : 0.7603896103896104
-------------------------------------------------
DecisionTreeClassifier()
Accuracy score : 0.6883116883116883
=====================================
DecisionTreeClassifier()
 Average Cross Validation Score : 0.7004784688995216
-------------------------------------------------
RandomForestClassifier()
Accuracy score : 0.8311688311688312
=====================================
RandomForestClassifier()
 Average Cross Validation Score : 0.7603725222146274
-------------------------------------------------

In [35]:
print("Model Scores (Average Cross Validation):\n")
for model, score in Model_Score.items():
    print(f"{model}: {score}")
    print("=====================================")

print("\nModel Scores (Percentage):\n")
for model, score in Model_score_Precentage.items():
    print(f"{model}: {score}%")
    print("=====================================")

Model Scores (Average Cross Validation):

LogisticRegression(): 0.7721804511278195
=====================================
KNeighborsClassifier(): 0.7382433356117566
=====================================
SVC(): 0.7603896103896104
=====================================
DecisionTreeClassifier(): 0.7004784688995216
=====================================
RandomForestClassifier(): 0.7603725222146274
=====================================

Model Scores (Percentage):

LogisticRegression(): 77%
=====================================
KNeighborsClassifier(): 74%
=====================================
SVC(): 76%
=====================================
DecisionTreeClassifier(): 70%
=====================================
RandomForestClassifier(): 76%
=====================================