# FACE NEWS PREDICTION

### Logistic Regression

In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

import re

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to C:\Users\SIDDHARTH
[nltk_data]     LUMAR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\SIDDHARTH
[nltk_data]     LUMAR\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\SIDDHARTH
[nltk_data]     LUMAR\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
# printing the stopwords in english
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

# Data preprocessing

In [4]:
fake = pd.read_csv("C:\\Users\\SIDDHARTH LUMAR\\Downloads\\DATA SCIENCE\\News _dataset\\Fake.csv")

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true = pd.read_csv("C:\\Users\\SIDDHARTH LUMAR\\Downloads\\DATA SCIENCE\\News _dataset\\True.csv", encoding='latin1')

In [7]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
fake['label'] = 1
true['label'] = 0

In [9]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [10]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [11]:
fake.shape

(23481, 5)

In [12]:
true.shape

(21417, 5)

In [13]:
article_data = pd.concat([true,fake], ignore_index = True)

In [14]:
article_data.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [15]:
article_data.shape

(44898, 5)

In [16]:
article_data.tail()

,title,text,subject,date,label
44893,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
44894,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
44895,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
44896,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
44897,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [17]:
article_data.drop(['text' ,'subject', 'date' ] , axis = 1 ,inplace = True)

In [18]:
article_data

                                                   title  label
0      As U.S. budget fight looms, Republicans flip t...      0
1      U.S. military to accept transgender recruits o...      0
2      Senior U.S. Republican senator: 'Let Mr. Muell...      0
3      FBI Russia probe helped by Australian diplomat...      0
4      Trump wants Postal Service to charge 'much mor...      0
...                                                  ...    ...
44893  McPain: John McCain Furious That Iran Treated ...      1
44894  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...      1
44895  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...      1
44896  How to Blow $700 Million: Al Jazeera America F...      1
44897  10 U.S. Navy Sailors Held by Iranian Military ...      1

[44898 rows x 2 columns]

In [19]:
# 1. removing Stopwords
# 2. tokenize the sentense into words
# 3. lemmatize


word_lem = WordNetLemmatizer()

In [20]:
def clean_data(text):
    words = []
    word_tokens = word_tokenize(text)
    for word in word_tokens:
        if word.lower() not in stopwords.words('english'):
            result = re.sub('[^a-zA-Z]', '', word)
            result = result.lower()
            result = word_lem.lemmatize(result)
            if result != '':
                words.append(result)
    return ' '.join(words)

In [21]:
clean_data('Hello, 123 good morning')

'hello good morning'

In [22]:
article_data['title'] = article_data ['title'].apply(clean_data)

In [23]:
x = article_data['title']
y= article_data['label']

x_train , x_test , y_train , y_test = train_test_split(x ,y , test_size = 0.2)

In [24]:
x_train.shape

(35918,)

In [25]:
x_test.shape

(8980,)

In [26]:
y_train.shape

(35918,)

In [27]:
y_test.shape

(8980,)

In [28]:
x_train

100      senator warren hit effort politicize u consume...
42802    unbelievable student succeed removing u border...
40097    year bullied barack obama president trump sign...
35013    obama gal pal loretta lynch recuse crooked hil...
31769    watch rep steve king bombshell answer trump wa...
                               ...
20720              greece ready determined exit bailout pm
40175    nasty woman ivanka trump booedhissed unbelieva...
44093    fbi release oregon video footage depicting dea...
17391    philippine military chief say matter day maraw...
17920    factbox japan main party key election pledge a...
Name: title, Length: 35918, dtype: object

In [29]:
x_test

16719     syria s assad meet dissident footballer damascus
14079    zimbabwe opposition want mugabe s pillar repre...
35247    sorry hillarywe already female president name ...
36943    parent furious th grade class join hateful pro...
26061    cher reacts dr oz reading trump health report ...
                               ...
19085    merkel hang power bleeds support surging far r...
1828     moderate republican u congressman dent seek re...
31719    month trashing president senator mccain explai...
28011    gop outreach woman continues trump double sexi...
15892    awaiting trump s coal comeback miner reject re...
Name: title, Length: 8980, dtype: object

In [30]:
y_train

100      0
42802    1
40097    1
35013    1
31769    1
        ..
20720    0
40175    1
44093    1
17391    0
17920    0
Name: label, Length: 35918, dtype: int64

In [31]:
y_test

16719    0
14079    0
35247    1
36943    1
26061    1
        ..
19085    0
1828     0
31719    1
28011    1
15892    0
Name: label, Length: 8980, dtype: int64

In [32]:
 # TfidfVectorizer -> term frequency * inverse Doc Freq
    # converts the text into numeric
vector = TfidfVectorizer()

x_train_vector = vector.fit_transform(x_train)
x_test_vector = vector.transform(x_test)

In [33]:
x_test_vector.shape

(8980, 20030)

In [34]:
x_train_vector.shape

(35918, 20030)

# model

In [35]:
model = LogisticRegression()

In [36]:
 model.fit(x_train_vector , y_train)

LogisticRegression()

In [37]:
pred = model.predict(x_test_vector)

In [38]:
pred

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)

In [39]:
accuracy_score(pred ,y_test)

0.944097995545657

In [40]:


def predict(model_name , text):
    input_dataset = pd.DataFrame([text] , columns = ['title'])
    input_dataset['title'] = input_dataset['title'].apply(clean_data)
    text_vector = vector.transform(input_dataset['title'])
    result = model_name.predict(text_vector)
    if result[0] == 0 :
        return 'its a geniune Article'
    if result[0] == 1:
        return " its a fake Article"

In [41]:
TEXT = input()

121211

In [42]:
predict(model , TEXT)

'its a geniune Article'

In [44]:
Model_1 = LogisticRegression()
Model_1.fit(x_train_vector,y_train)
y_pred_1 = Model_1.predict(x_test_vector)

Model_2 = KNeighborsClassifier()
Model_2.fit(x_train_vector,y_train)
y_pred_2 = Model_2.predict(x_test_vector)

Model_3 = SVC()
Model_3.fit(x_train_vector,y_train)
y_pred_3 = Model_3.predict(x_test_vector)

Model_4 = DecisionTreeClassifier()
Model_4.fit(x_train_vector,y_train)
y_pred_4 = Model_4.predict(x_test_vector)

Model_5 = RandomForestClassifier()
Model_5.fit(x_train_vector,y_train)
y_pred_5 = Model_5.predict(x_test_vector)

In [45]:
print("LOGISTIC REGRESSION :", accuracy_score(y_test,y_pred_1))
print("KNEIGHBOR CLASSIFIER :" ,accuracy_score(y_test,y_pred_2))
print("SVM CLASSIFIER: " ,accuracy_score(y_test,y_pred_3))
print("DECISSION TREE CLASSIFIER:" ,accuracy_score(y_test,y_pred_4))
print("RANDOM FOREST CLASSIFIER :", accuracy_score(y_test,y_pred_5))

LOGISTIC REGRESSION : 0.944097995545657
KNEIGHBOR CLASSIFIER : 0.8907572383073497
SVM CLASSIFIER:  0.9538975501113586
DECISSION TREE CLASSIFIER: 0.9031180400890868
RANDOM FOREST CLASSIFIER : 0.9380846325167038